<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leone.microservice.search.mapper.PhoneMapper">

    <resultMap id="BaseResultMap" type="com.leone.microservice.search.entity.Phone">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="sales" jdbcType="VARCHAR" property="sales"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="cpu" jdbcType="VARCHAR" property="cpu"/>
        <result column="ram" jdbcType="VARCHAR" property="ram"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.leone.microservice.search.entity.Phone">
        <result column="detail" jdbcType="LONGVARCHAR" property="detail"/>
    </resultMap>

    <sql id="Blob_Column_List">
        detail
    </sql>

    <insert id="insert" parameterType="com.leone.microservice.search.entity.Phone">
        insert into t_phone (title, picture, price,
                             sales, shop_name, location,
                             name, color, cpu, ram,
                             phone, detail)
        values (#{title,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR},
                #{sales,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{cpu,jdbcType=VARCHAR}, #{ram,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.leone.microservice.search.entity.Phone">
        insert into t_phone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="picture != null">
                picture,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="sales != null">
                sales,
            </if>
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="cpu != null">
                cpu,
            </if>
            <if test="ram != null">
                ram,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="detail != null">
                detail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="picture != null">
                #{picture,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="sales != null">
                #{sales,jdbcType=VARCHAR},
            </if>
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
            <if test="cpu != null">
                #{cpu,jdbcType=VARCHAR},
            </if>
            <if test="ram != null">
                #{ram,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>